<div class="container">
  <h1>
    List <%= @list.name %>
  </h1>

  <% @list.movies.each do |movie| %>
    <h3> <%= movie.title %>  </h3>
    <ul>
      <li> <%= movie.overview %>  </li>
      <img src=" <%= movie.poster_url %>  " class="col-1" alt="">
      <li> <%= movie.rating %>  </li>
    </ul>
  <% end %>

  <%= link_to "Add movie", list_bookmarks_path %> |
  <%= link_to "back to lists", lists_path %>

</div>
